@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --font-family: 'Poppins';
    --font-size: 14px;
    --line-height: 140%;
    --letter-spacing: -0.02em;
    --color: #2D3748;

    --button-color:#FFFFFF;
    --button-font-weight: 600;
    --button-line-height: 21px;
    --button-background:#007AFF;
    --button-border-radius: 5px;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--color);
}

.wrapper {
    display: grid;
    grid-template-columns: 627px 739px;
    align-items: center;
}

.image_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    background-color: rgba(0, 122, 255, 1);
}

.h1_img_section {
    margin: 40px 111.2px 56.62px 111px;
    
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;

    color: #FFFFFF;
}

.img_phones {
    width: 366.51px;
    height: 524.8px;
}

.form_container {
    margin-left: 72px;
}

input {
    width: 270px;
    height: 48px;

    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.form_input_container {
    display: flex;
}

.logo {
    width: 114.84px;
    height: 48px;
}

.text_container {
    margin-top: 37px;
    margin-bottom: 37px;
}

.input_right_column {
    margin-right: 32px;
}

.input_container {
    margin-bottom: 16px;
}

input[type="text"]
{
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--color);
}

label {
    display: block;
}

button {
    width: 270px;
    height: 48px;
    margin-top: 24px;

    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--button-font-weight);
    line-height:var(--button-line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--button-color);
    background: var(--button-background);
    border-radius: var(--button-border-radius);
    border: 0;
}

.button_dark {
    margin-left: 32px;

    background: #2D3748;
    border-radius: 5px;
}

.btn_icon-google {
    position: relative;

    width: 20px;
    height: 20px;
    margin-right: 11.98px ;
    margin-right: 5px;
    vertical-align: middle;
}

.text-logIn {
    margin-top: 24px;
    
    text-align: center;
}

.download_img_container {
    margin-top: 40px;
}

.img_download {
    width: 135px;
    height: 40px;
    margin-right: 12px;
}


